<div class="container-fluid body-content d-flex align-items-center welcome-container my-md-4">
    <div class="row mx-2 mx-md-6">
        <div class="welcome order-md-0 order-1 col-md-5 col-sm-12 bordered-left-thickest bordered-right-thick px-4 py-5 py-md-0">
            <h1>Welcome</h1>
            <br>
            <p>Zheng Jie Ng,</p>
            <br>
            <p>
                To commemorate Occam Labs’s 400th Anniversary, we are convening leaders of our most important partners,
                invester companies and counterparties globally at a special edition of The Occam Conference. 
            </p>
            <br>
            <p>
                With the theme, Towards a Ecological Future, the forum will seek perspectives from global thought leaders
                on the pertinent sustainability trends and initiatives that are needed to build a more resilient and equitable future.
            </p>
        </div>
        <div class="featured d-flex col-md-7 col-sm-12 bordered-right-thickest mt-5 mt-md-0 py-3 py-md-0">
            <div class="featured-image"></div>
            <div class="d-md-block vr bordered-right-thin ms-0 ms-md-4"></div>
            <div class="d-md-block vr bordered-right-thick ms-0 ms-md-1"></div>
        </div>
    </div>
</div>